/*.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c72bd;
  padding: 10px 20px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

nav a {
  color: rgb(249, 240, 240);
  text-decoration: none;
  margin: 10px 10px;
  font-weight: bold;
}

.search-container {
  flex-grow: 1;
  margin: 0 20px;
}

.search-container input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.auth {
  position: relative;
}

.auth img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.auth-popup {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: rgb(253, 251, 251);
  border: 1px solid #faf7f7;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(151, 41, 41, 0.2);
  z-index: 1000;
}

.auth-popup form {
  display: flex;
  flex-direction: column;
}

.auth-popup form label {
  margin-top: 10px;
}

.auth-popup form input[type="email"],
.auth-popup form input[type="password"] {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #090909;
  border-radius: 5px rgb(155, 66, 66)
}

.auth-popup form .remember-me {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color : solid #bc1616;
}
.auth-popup form .remember-me label {
  color: #2d2d37; 
}
.auth-popup form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #005bbb;
  color: rgb(14, 13, 13);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-popup form a {
  margin-top: 10px;
  font-size: 14px;
  color: #005bbb;
  text-align: center;
}

*/



.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e3ebf3;
  color: rgb(15, 14, 14);
  padding: 10px 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  margin-left: 15px;
}

.search-container {
  flex-grow:100px;
  margin-left: 800px;
}

.search-container input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

.auth {
  position: relative;
}

.auth img {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.auth-popup {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: rgb(244, 243, 243);
  border: 1px solid #0b0b0b;
  color: rgb(20, 19, 19);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(10, 0, 0, 0.2);
  z-index: 1000;
}

.auth-popup form {
  display: flex;
  flex-direction: column;
}

.auth-popup form label {
  margin-top: 10px;
}

.auth-popup form input[type="email"],
.auth-popup form input[type="password"] {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #141313;
  border-radius: 5px;
}

.auth-popup form .remember-me {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.auth-popup form .remember-me label {
  color: #060606;
}

.auth-popup form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #005bbb;
  color: rgb(26, 25, 25);
  border: none;
  border-radius: 5px;
  cursor:pointer;
}

.auth-popup form a {
  margin-top: 10px;
  font-size: 14px;
  color: #0a0a0a;
  text-align: center;
}
