.header-nav {
    display: flex;
    justify-content: space-around;
    background-color: #1860ac;
    color: rgb(251, 251, 251);
    padding: 10px 0;
  }
  
  .header-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  